S3method('remove.axis', 'trellis')
exportPattern("^[[:alpha:]]+")
importFrom("stats", "aggregate", "as.formula", "confint", "p.adjust",
           "quantile", "reshape", "t.test")
importFrom("utils", "capture.output", "head", "object.size",
           "sessionInfo", "write.table")
